---
layout: post-index
title: All drafts
description: "An archive of drafts."
comments: false
---

{% for draft in site.drafts %}
    {% capture this_year %}{{ drafts.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ drafts.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <article>
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title"><a href="{{ site.url }}{{ draft.url }}" title="{{ draft.title }}">{{ draft.title }}</a></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_year }}-ref" class="year-heading">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}
